<div class="editors-module cf">
    <p class="label-kicker">More stories</p>

    <div class="editors-module-unit cf">

        <div class="editors-module-unit-text col-xs-8">
            <h5>
                <!-- Add URL here -->
                <a href="https://www.washingtonpost.com/graphics/politics/2016-election/fact-checker/">
                    The 2016 Election Fact Checker
                </a>
            </h5>
            <p>
                The true, the false and everything in between.
            </p>
        </div>

        <div class="editors-module-unit-image col-xs-4">
            <!-- Add URL here -->
            <a href="https://www.washingtonpost.com/graphics/politics/2016-election/fact-checker/">
                <!-- Add image URL here -->
                <img class="image" src="https://www.washingtonpost.com/graphics/politics/2016-election/fact-checker/img/fact-checker-2300.jpg" style="display: inline;">
            </a>
        </div>
    </div>

    <div class="editors-module-unit cf">

        <div class="editors-module-unit-text col-xs-8">
            <h5>
                <!-- Add URL here -->
                <a href="https://www.washingtonpost.com/graphics/politics/2016-election/trump-charity-donations/">
                    Searching for evidence of Trump’s personal giving
                </a>
            </h5>
            <p>
                he Washington Post has contacted more than 250 charities with some ties to the GOP nominee in an effort to find proof of the millions he has said he donated to them. We’ve mostly been unsuccessful.
            </p>
        </div>

        <div class="editors-module-unit-image col-xs-4">
            <!-- Add URL here -->
            <a href="https://www.washingtonpost.com/graphics/politics/2016-election/trump-charity-donations/">
                <!-- Add image URL here -->
                <img class="image" src="https://www.washingtonpost.com/graphics/politics/2016-election/trump-charity-donations/images/trumpcharity-featured.jpg" style="display: inline;">
            </a>
        </div>
    </div>

</div>
