<!-- SOCIAL TOOLS -->
<div class=
"moat-trackable pb-f-theme-normal full pb-feature pb-layout-item pb-f-sharebars-top-share-bar"
data-chain-name="no-name" data-feature-id="sharebars/top-share-bar"
data-feature-name="no-name" id="f0dI3jX2uxHpTp">
    <style>
    .hideText{position:absolute;left:-10000px}
    </style>
    {% raw %}
    
    <div class=
        "top-sharebar-wrapper vertical-sticky-top-sharebar color-top" data-pb-canonical-url=
        "{{ pub_metadata_url }}" data-pb-prevent-ajax="false" data-postshare="facebook,twitter,google-plus,email,linkedin,tumblr,whatsapp,sms" id="top-sharebar_2870">
        
        <div class="social-tools-wrapper">
            <span class="social-tools-primary"></span>
            <div class="social-tools default-desktop">
                <span class="social-tools-primary"><a onclick="var shareWindow=window.open('https://www.facebook.com/sharer/sharer.php?u={{ pub_metadata_short_url }}%3Ftid=ss_fb','share_facebook','width=658,height=354,scrollbars=no'); try{wp_pb.StaticMethods.staticPostShare.callPostShare('facebook', this.postShareObject, 'https://www.facebook.com/sharer/sharer.php?u=', '{{ pub_metadata_url }}', '', 'width=658,height=354,scrollbars=no', shareWindow, 'ss_fb');}catch(err){if(false){console.log(err);}} return false;"
                tabindex="_tbidx_">
                <div class="facebook tool first">
                    <span class="social-tools-primary"><span class="hideText">Share on Facebook</span><span class="fa fa-facebook-square"></span></span>
                </div></a> <a onclick="var shareWindow=window.open('https://twitter.com/share?url={{ pub_metadata_short_url }}%3Ftid=ss_tw&amp;text={{ pub_metadata_headline }}','share_twitter','width=550, height=350, scrollbars=no'); try{wp_pb.StaticMethods.staticPostShare.callPostShare('twitter', this.postShareObject, 'https://twitter.com/share?url=', '{{ pub_metadata_url }}', '&amp;text={{ pub_metadata_headline }}', 'width=550, height=350, scrollbars=no', shareWindow, 'ss_tw');}catch(err){if(false){console.log(err);}} return false;"
                tabindex="_tbidx_">
                <div class="twitter tool">
                    <span class="hideText">Share on Twitter</span><span class="fa fa-twitter"></span>
                </div></a> <a onclick="var shareWindow=window.open('https://plus.google.com/share?url={{ pub_metadata_short_url }}%3Ftid=ss_gp','share_google-plus','width=832,height=472,scrollbars=no'); try{wp_pb.StaticMethods.staticPostShare.callPostShare('google-plus', this.postShareObject, 'https://plus.google.com/share?url=', '{{ pub_metadata_url }}', '', 'width=832,height=472,scrollbars=no', shareWindow, 'ss_gp');}catch(err){if(false){console.log(err);}} return false;"
                tabindex="_tbidx_">
                <div class="google-plus tool">
                    <span class="hideText">Share on Google Plus</span><span class="fa fa-google-plus"></span>
                </div></a> <a onclick="try{wp_pb.StaticMethods.staticPostShare.callPostShare('email', this.postShareObject, 'mailto:?subject={{ pub_metadata_headline }} from The Washington Post&amp;body=', '{{ pub_metadata_url }}', '', null, null, 'ss_mail');}catch(err){if(false){console.log(err);} window.location.href = 'mailto:?subject={{ pub_metadata_headline }} from The Washington Post&amp;body={{ pub_metadata_short_url }}%3Ftid=ss_mail'; }return false;"
                tabindex="_tbidx_">
                <div class="email tool">
                    <span class="hideText">Share via Email</span><span class="fa fa-envelope"></span>
                </div></a> <a onclick="var shareWindow=window.open('https://www.linkedin.com/shareArticle?mini=true&amp;url={{ pub_metadata_short_url }}%3Ftid=ss_in&amp;title={{ pub_metadata_headline }}','share_linkedin','width=830,height=460,scrollbars=no'); try{wp_pb.StaticMethods.staticPostShare.callPostShare('linkedin', this.postShareObject, 'https://www.linkedin.com/shareArticle?mini=true&amp;url=', '{{ pub_metadata_url }}', '&amp;title={{ pub_metadata_headline }}', 'width=830,height=460,scrollbars=no', shareWindow, 'ss_in');}catch(err){if(false){console.log(err);}} return false;"
                tabindex="_tbidx_">
                <div class="linkedin tool">
                    <span class="hideText">Share on LinkedIn</span><span class="fa fa-linkedin"></span>
                </div></a> <a onclick="window.open('//pinterest.com/pin/create/button/?url={{ pub_metadata_url }}%3Ftid=ss_pin&amp;media={{ pub_metadata_promo_image }}&amp;description={{ pub_metadata_headline }}','share_pinterest','width=550,height=450,scrollbars=no');"
                tabindex="_tbidx_">
                <div class="pinterest tool">
                    <span class="hideText">Share on Pinterest</span><span class="fa fa-pinterest"></span>
                </div></a> <a onclick="var shareWindow=window.open('https://www.tumblr.com/share/link?url={{ pub_metadata_short_url }}%3Ftid=ss_tu&name={{ pub_metadata_headline }}&description=','share_tumblr','width=550,height=450,scrollbars=no'); try{wp_pb.StaticMethods.staticPostShare.callPostShare('tumblr', this.postShareObject, 'https://www.tumblr.com/share/link?url=', '{{ pub_metadata_url }}', '&name={{ pub_metadata_headline }}&description={{ pub_metadata_blurb }}', 'width=550,height=450,scrollbars=no', shareWindow, 'ss_tu');}catch(err){if(false){console.log(err);}} return false;"
                tabindex="_tbidx_">
                <div class="tumblr tool last">
                    <span class="hideText">Share on Tumblr</span><span class="fa fa-tumblr"></span>
                </div></a></span>
            </div><span class="social-tools-additional"></span>
            <div class="social-tools">
                <span class="social-tools-additional"></span>
            </div>
        </div>
        <div class=" utility-tools-wrapper">
            <div class="utility-tools-primary">
                <div class="social-tools">
<!--                     <div class="textresizer tool">
                        <span class="hideText" tabindex="_tbidx_">Resize Text</span><span class="fa fa-font"></span>
                    </div> -->
                    <a onclick="window.print();" tabindex="_tbidx_">
                    <div class="print tool">
                        <span class="hideText">Print Article</span><span class="fa fa-print"></span>
                    </div></a>
                    <a class="comment-jump" href="#comments" tabindex="_tbidx_">
                    <div class="comments tool">
                        <span class="hideText">Comments</span><span class= "fa fa-comments"></span> <span class="echo_container comment-vars echo-counter text format_short" id="echo_container"></span>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
    {% endraw %}
    <div class="clear"></div>
</div>